<section class="advantages">
    <div class="container">
        <h2 class="section-title visually-hidden">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-list__item advantages-list__item1">
                <p class="advantages-list__text">
                    <span class="advantages-list__text--accent" >721</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list__item advantages-list__item2">
                <p class="advantages-list__text">
                    <span class="advantages-list__text--accent">16kg</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list__item advantages-list__item3">
                <p class="advantages-list__text">
                    <span class="advantages-list__text--accent">84</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
    </section>
