<section class="section">
    <div class="container">
        <h2 class="section-title visually-hidden">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-list_item">
                <p class="advantages-list_text">
                    <span class="advantages-list_text--accent" >721</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list_item">
                <p class="advantages-list_text">
                    <span class="advantages-list_text--accent">16kg</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list_item">
                <p class="advantages-list_text">
                    <span class="advantages-list_text--accent">84</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
    </section>
