<footer class="footer">
    <div class="container">
        <div class="container-wraper">
            <p class="footer-text">homemade ice cream made<br> <span class="footer-text__span">with passion</span></p>
            <div class="footer-wrap">
                <ul class="footer-list">
                    <li class="list footer-item"><a class="link footer-link" href="https://github.com/" target="_blank" rel="noreferrer noopener"><svg class="footer-icon" width="20" height="20">
                        <use href="./images/sprite.svg#github"></use>
                    </svg></a></li>
                    <li class="list footer-item"><a class="link footer-link" href="https://telegram.org/" target="_blank" rel="noreferrer noopener"><svg class="footer-icon" width="20" height="20">
                        <use href="./images/sprite.svg#telegram"></use>
                    </svg></a></li>
                    <li class="list footer-item"><a class="link footer-link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener"><svg class="footer-icon" width="20" height="20">
                        <use href="./images/sprite.svg#facebook"></use>
                    </svg></a></li>
                </ul>
                <address class="address">Feel free to contact <a class="link address-link">+61 (0) 383 766 284</a></address>
            </div>
        </div>
        <div class="footer-box">
            <p class="footer-text__rights">&copy; 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>
