<footer class="footer">
    <div class="container">
        <p class="footer-text">homemade ice cream made<br> <span class="footer-text__span">with passion</span></p>
        <ul class="footer-list">
            <li class="list footer-item"><a class="link footer-link" href=""></a></li>
            <li class="list footer-item"><a class="link footer-link" href=""></a></li>
            <li class="list footer-item"><a class="link footer-link" href=""></a></li>
        </ul>
        <address class="address">Feel free to contact <a class="link address-link">+61 (0) 383 766 284</a></address>
        <div class="footer-box">
        <p class="footer-text__rights">© 2019 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>
