<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="section-title visually-hidden">Gallery</h2>
    <ul class="gallery__grid list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img1.webp 1x, ./images/gallery/galery-img1@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img1.jpg 1x, ./images/gallery/galery-img1@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Мороженое в тарелке" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img2.webp 1x, ./images/gallery/galery-img2@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img2.jpg 1x, ./images/gallery/galery-img2@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Рожок-мороженое в руке" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img3.webp 1x, ./images/gallery/galery-img3@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img3.jpg 1x, ./images/gallery/galery-img3@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Фруктовое мороженое" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img4.webp 1x, ./images/gallery/galery-img4@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img4.jpg 1x, ./images/gallery/galery-img4@2x.jpg 2x"
          />

          <img class="gallery__img gallery__img--big" src="#" alt="Мороженое-рожок" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img5.webp 1x, ./images/gallery/galery-img5@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img5.jpg 1x, ./images/gallery/galery-img5@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Девушка с мороженым" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img6.webp 1x, ./images/gallery/galery-img6@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img6.jpg 1x, ./images/gallery/galery-img6@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Мороженое в вазе" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img7.webp 1x, ./images/gallery/galery-img7@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img7.jpg 1x, ./images/gallery/galery-img7@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Мороженое рожок" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img8.webp 1x, ./images/gallery/galery-img8@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img8.jpg 1x, ./images/gallery/galery-img8@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Собачка лижет мороженое" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img9.webp 1x, ./images/gallery/galery-img9@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img9.jpg 1x, ./images/gallery/galery-img9@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Коктейль с мороженым" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/gallery/galery-img10.webp 1x, ./images/gallery/galery-img10@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/gallery/galery-img10.jpg 1x, ./images/gallery/galery-img10@2x.jpg 2x"
          />

          <img class="gallery__img" src="#" alt="Милк-шейк с мороженым" />
        </picture>
      </li>
    </ul>
  </div>
</section>
