<header class="header lock-padding">
  <div class="container header__container">
    <div class="header-menu">
      <a href="" class="logo"
        ><img
          class="logo__img"
          srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
          src="./images/logo.png"
          alt="Company's Logo"
      /></a>
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item"><a href="./index.html" class="nav__link link">Home</a></li>
          <li class="nav__item"><a href="#about" class="nav__link link">About us</a></li>
          <li class="nav__item">
            <a href="#advantages" class="nav__link link">How it’s made?</a>
          </li>
          <li class="nav__item"><a href="#products" class="nav__link link">Our products</a></li>
          <li class="nav__item"><a href="#contacts" class="nav__link link">Contact</a></li>
        </ul>
      </nav>
      <div class="header-wrapper">
        <button
          class="burger-btn js-open-menu"
          aria-label="Открытие мобильного меню"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="burger-btn__icon">
            <use href="./images/sprite.svg#burger-menu"></use>
          </svg>
        </button>
        <button
          type="button"
          class="header__main-btn main-btn--light main-btn js-modal-open"
          data="modal-header"
        >
          Buy now
          <svg class="main-btn__icon" width="8" height="10">
            <use href="./images/sprite.svg#arrow-main-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- MOBILE MENU -->

  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="container-menu-wrapper">
      <button class="close-btn js-close-menu" aria-label="Закрытие мобильного меню">
        <svg class="close-btn__icon">
          <use href="./images/sprite.svg#icon-close-window"></use>
        </svg>
      </button>

      <button
        type="button"
        class="main-btn--light mobile-menu__main-btn main-btn js-menu-close js-modal-open"
        data="modal-header"
      >
        Buy now
        <svg class="main-btn__icon" width="8" height="10">
          <use href="./images/sprite.svg#arrow-main-btn"></use>
        </svg>
      </button>

      <ul class="list mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="./index.html" class="mobile-menu__link link js-menu-close">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#about" class="mobile-menu__link link js-menu-close">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#advantages" class="mobile-menu__link link js-menu-close">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#products" class="mobile-menu__link link js-menu-close">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#contacts" class="mobile-menu__link link js-menu-close">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
