<section class="hero-section">
  <div class="hero-container container">
    <div class="hero__left">
      <div class="hero__upper-container">
        <h1 class="page-title hero__title">
          ice cream made with <span class="header__passion">passion</span>
        </h1>
        <ul class="hero-ancors-list list hero__ancors">
          <li class="hero-ancors__part">
            <a href="#products" class="hero-ancor product__ancor">Products</a>
          </li>
          <li class="hero-ancors__part">
            <a href="#advantages" class="hero-ancor him__ancor">How it`s made</a>
          </li>
        </ul>
      </div>
      <div class="hero-text__container">
        <p class="hero-text hero__about">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="hero__btn-arrow btn-arrow" type="button">
          <svg class="btn-arrow__icon" width="12" height="12">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="cafes-list list hero-cafes__list">
      <li class="cafes-list__part cafe__part">
        <p class="cafes-list__text"><span class="cafes-list__number">16 </span> cafes</p>
        <div class="cafes-list__ellipse"></div>
      </li>
      <li class="cafes-list__part food-truck__part">
        <p class="cafes-list__text"><span class="cafes-list__number">23</span> food trucks</p>
        <div class="cafes-list__ellipse"></div>
      </li>
    </ul>
    <div class="icecream__container">
      <img
        class="hero__icecream-pickture"
        srcset="./images/hero/ice-cream.png 1x, ./images/hero/ice-cream@2x.png 2x"
        src="./images/hero/ice-cream.png"
        alt="Icecream"
      />
      <div class="hero__circle"></div>
    </div>
    <img
      class="hero__girl-pickture"
      srcset="./images/hero/girl.png 1x, ./images/hero/girl@2x.png 2x"
      src="./images/hero/girl.png"
      alt="Girl"
    />
    <img
      class="hero__milk-pickture"
      srcset="./images/hero/milk.png 1x, ./images/hero/milk@2x.png 2x"
      src="./images/hero/milk.png"
      alt="milk"
    />
  </div>
</section>
