<!-- <div class="backdrop is-hidden">  -->
  <div class="backdrop">
  <div class="modal about-modal">
    <ul class="about-modal__list list">
      <li class="about-modal__item" >
        <p class="about-modal__text"></p>
      </li>
      <li>
        <p class="about-modal__text"></p></li>
      <li>
        <p class="about-modal__text"></p></li>
    </ul>
    <button class="modal__close-btn" type="button">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close-btn"></use>
      </svg>
    </button>

    <button class="main-btn main-btn--dark" type="submit">Button</button>
  </div>
</div>
