<section class="products container ">
  <p class="pre-title">100% natural</p>
  <h2 class="section-title">Products</h2>
  <ul class="list">
    <li class="products-list ">
      <h3 class="list-title">ice cream</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <button class="btn-arrow" type="button">
        <svg class="btn-arrow__icon" width="12" height="12"><use href="./images/sprite.svg#arrow-right"></use></svg></button>
    </li>
    <li class="products-list">
      <h3 class="list-title">ice coffee</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <button class="btn-arrow" type="button"><svg class="btn-arrow__icon" width="12" height="12"><use href="./images/sprite.svg#arrow-right"></use></svg></button>
    </li>
    <li class="products-list">
      <h3 class="list-title">milkshakes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <button class="btn-arrow" type="button"> <svg class="btn-arrow__icon" width="12" height="12"><use href="./images/sprite.svg#arrow-right"></use></svg></button>
    </li>
  </ul>
</section>
