<section class="products">
  <div class="container">
    <p class="pre-title">100% natural</p>
  <h2 class="section-title products-title ">Products</h2>
  <ul class="list products-flex">
    <li class="products-card ">
      <h3 class="products-card__title">ice cream</h3>
      <p class="products-card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <input type="checkbox" id="read-icecream" hidden />
      <p class="prod-icecream products-card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis cumnumquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit suscipit molestiae facilis
        dolorum fugit deleniti.</p>
        <label for="read-icecream" class="read-icecream"> 
          <svg class="products_read-more" width="12" height="12" >
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg> </label>
    </li>
    <li class="products-card">
      <h3 class="products-card__title">ice coffee</h3>
      <p class="products-card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <input type="checkbox" id="read-icecoffee" hidden />
      <p class="prod-icecoffee products-card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil
        provident corporis cumnumquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit suscipit
        molestiae facilis
        dolorum fugit deleniti.</p>
      <label for="read-icecoffee" class="read-icecoffee">
        <svg class="products_read-more" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-right2"></use>
        </svg> </label>
    </li>
    <li class="products-card">
      <h3 class="products-card__title">milkshakes</h3>
      <p class="products-card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <input type="checkbox" id="read-milkshakes" hidden />
      <p class="prod-milkshakes products-card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil
        provident corporis cumnumquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit suscipit
        molestiae facilis
        dolorum fugit deleniti.</p>
      <label for="read-milkshakes" class="read-milkshakes">
        <svg class="products_read-more" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-right2"></use>
        </svg> </label>
    </li>
  </ul>
</div>
</section>
