.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;

  @include flex(flex, center, center);
  overflow-y: scroll;

  background-color: rgba(79, 20, 34, 0.3);
  transition: opacity 250ms var(--timingFunction), visibility 250ms var(--timingFunction);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: unset;
}
