.main-btn {
  min-width: 209px;
  padding: 12px 17px;
  border-radius: 22px;

  @include font(16px, 21px, 700);
  cursor: pointer;
}

.main-btn--light {
  background-color: #ffffff;
  color: var(--primaryBrandColor);
  transition: background-color 250ms var(--timingFunction);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.main-btn--dark {
  background-color: var(--primaryBrandColor);
  color: #ffffff;
}

.main-btn__icon {
  margin-left: 15px;
  stroke: currentColor;
}
