.footer-text {
  padding-bottom: 17px;
  font-family: var(--secondaryFontFamily);
  @include font(18px, 21px, 400);
  text-transform: uppercase;
  color: var(--secondaryBrandColor);
  @include mobile {
  }
}

.footer-text__span {
  @include font(34px, 39px, 400);
  letter-spacing: 0.04em;
  color: var(--primaryBrandColor);
}

.footer-list {
  @include flex(flex, null, flex-end);
}

.footer-item {
}

.footer-item + .footer-item {
  margin-left: 28px;
}

.footer-link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--secondaryBrandColor);
}

.address {
  @include font(12px, 22px, 700);
  font-style: normal;
  text-align: right;
  color: var(--primaryTextDark);
}

.address-link {
  color: var(--primaryBrandColor);
}

.footer-box {
  border-top: 1px solid #e1e1e1;
}

.footer-text__rights {
  @include font(14px, 21px, 700);
  text-align: center;
  color: var(--secondaryTextColor);
}
