.header {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;

    width: 100%;
    background-image: linear-gradient(rgba(255, 184, 202, 1) 40%, rgba(255, 184, 202, 0.5));
  }

  @include tablet {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  }
}

.header__container {
  padding-top: 6px;
}
.header-menu {
  @include flex(flex, center, space-between);
}
.nav__list {
  display: none;
}
.header__main-btn {
  display: none;
}

.header-wrapper {
  @include flex(flex, center);
}
.burger-btn {
  background-color: transparent;
  cursor: pointer;
  color: var(--primaryBrandColor);
  transition: color 250ms var(--timingFunction);
  &:hover,
  &:focus {
    color: #e18298;
  }
}

.burger-btn__icon {
  width: 25px;
  height: 21px;
  fill: currentColor;
}

.close-btn {
  position: absolute;
  right: 18px;
  top: 14px;
  background-color: transparent;
  color: var(--primaryTextLight);
  cursor: pointer;
  transition: color 250ms var(--timingFunction);
  &:hover,
  &:focus {
    color: #ffb8ca;
  }
}

.close-btn__icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.mobile-menu__main-btn {
  display: block;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  transform: translateX(100%);

  width: 250px;
  height: 100vh;

  padding-top: 60px;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  background-color: #e17992;

  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  transition: opacity 250ms var(--timingFunction), visibility 250ms var(--timingFunction),
    transform 250ms var(--timingFunction);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.mobile-menu__item {
  border-top: 1px solid #e18298;
  padding-left: 20px;
}

.mobile-menu__item:last-child {
  border-bottom: 1px solid #e18298;
}

.mobile-menu__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  @include font(14px, 18px, 700, 0.03em);

  color: var(--primaryTextLight);
  transition: color 250ms var(--timingFunction);
  &:hover,
  &:focus {
    color: var(--primaryBrandColor);
  }
}

@include tablet {
  .header__container {
    padding-top: 37px;
  }
  .header__main-btn {
    display: block;
    min-width: 160px;
    margin-left: 30px;
  }

  .mobile-menu__main-btn {
    min-width: 186px;
    margin-left: auto;
  }

  .mobile-menu {
    width: 40vw;
  }
}

@include desktop {
  .header__container {
    width: 1188px;
    padding-left: 0;
    padding-right: 69px;
  }

  .header__main-btn {
    margin-left: 0;
  }
  .burger-btn {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav__list {
    display: flex;
  }
  .nav__item:not(:last-child) {
    margin-right: 35px;
  }

  .nav__link {
    display: block;
    padding: 10px 0;
    @include font(16px, 21px, 700, 0.03em);
    color: var(--primaryTextLight);
    transition: color 250ms var(--timingFunction);
    &:hover,
    &:focus {
      color: var(--primaryBrandColor);
    }
  }
}
