.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @include mobile {
    width: 480px;
    margin: 0 auto;
  }
  @include tablet {
    width: 740px;
  }

  @include desktop {
    width: 1090px;
  }
}
.section-title {
  margin-bottom: 144px;
}
.products-card::before {
  content: '';
  position: absolute;
  background-image: url(../images/products/product1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 249px;
  height: 252px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -46%);
  margin-bottom: 22px;
}

.products-card {
  padding-top: 151px;
  text-align: center;
  background: #ffb8ca;
  margin-top: 31px;
  border-radius: 24px;
  height: 480px;
  position: relative;
  &:nth-child(2) {
    background: #f0d1a5;
    margin-top: 130px;
    &::before {
      background-image: url(../images/products/product2.png);
    }
  }
  &:nth-child(3) {
    background: #c2e297;
    margin-top: 129px;
    &::before {
      background-image: url(../images/products/product3.png);
    }
  }
}

.products-card__title {
  font-family: var(--secondaryFontFamily);
  color: var(--primaryTextLight);
  text-align: center;
  position: relative;
  margin-bottom: 66px;

  @include font(20px, 23px, 400, 0.04em);

  @include tablet {
    @include font(26px, 30px);
  }

  @include desktop {
    @include font(30px, 34px, null, 0.04em);
  }
}
.products-card__title::after {
  content: '...';
  font-size: 36px;
  position: absolute;
  color: var(--primaryTextLight);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45px;
}
