.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @include tablet {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @include desktop {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products-title {
  margin-bottom: 144px;
  @include tablet {
    margin-bottom: 150px;
  }
  @include desktop {
    margin-bottom: 259px;
  }
}
.products-flex {
  @include tablet {
    @include flex;
    align-items: flex-start;
  }
}
.products-card::before {
  content: '';
  position: absolute;
  background-image: url(../images/products/product1.png);
  @include desktop {
    background-image: url(../images/products/product1@2x.png);
  }
  background-size: cover;
  background-repeat: no-repeat;
  width: 249px;
  height: 252px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -46%);

  @include tablet {
    background-size: 100%;
    width: 220px;
    height: 226px;
  }
  @include desktop {
    width: 335px;
    height: 335px;
    transform: translate(-50%, -63%);
  }
}

.products-card {
  display: block;
  border-radius: 24px;
  text-align: center;

  padding-top: 161px;
  padding-bottom: 40px;

  text-align: center;
  background: #ffb8ca;
  position: relative;

  margin-top: 130px;
  @include tablet {
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 152px;
    width: 220px;
  }
  @include desktop {
    width: 329px;
    margin-left: 30px;
    padding-top: 163px;
    padding-bottom: 50px;
  }
  &:nth-child(2) {
    background: #f0d1a5;
    &::before {
      background-image: url(../images/products/product2.png);
      @include tablet {
        background-image: url(../images/products/product2@2x.png);
      }
    }
  }
  &:nth-child(3) {
    background: #c2e297;
    &::before {
      background-image: url(../images/products/product3.png);
      @include tablet {
        background-image: url(../images/products/product3@2x.png);
      }
    }
  }
  &:first-child {
    margin-top: 0px;
    @include tablet {
      margin-left: 0px;
    }
  }
}

.products-card__title {
  font-family: var(--secondaryFontFamily);
  color: var(--primaryTextLight);
  text-align: center;
  position: relative;
  margin-bottom: 36px;

  @include font(20px, 23px, 400, 0.04em);

  @include desktop {
    @include font(30px, 34px, 400, 0.04em);
  }
}
.products-card__title::after {
  content: '...';
  font-size: 36px;
  position: absolute;
  color: var(--primaryTextLight);
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45px;
}
.products-card__content {
  font-family: var(--primaryFontFamily);
  color: var(--primaryTextLight);
  text-align: center;
  padding: 30px 40px;
  @include font(14px, 21px, 700, 0.04em);
  @include tablet {
    @include font(14px, 25px, 700, 0.04em);
    padding: 30px 11px;
  }
  @include desktop {
    @include font(16px, 28px, 700, 0.04em);
    padding-top: 32px;
    padding-right: 44px;
    padding-bottom: 62px;
    padding-left: 44px;
  }
}

.prod-icecream,
.prod-icecoffee,
.prod-milkshakes {
  display: none;
}
#read-icecream:checked ~ .prod-icecream {
  display: block;
}
#read-icecoffee:checked ~ .prod-icecoffee {
  display: block;
}
#read-milkshakes:checked ~ .prod-milkshakes {
  display: block;
}

.products_read-more {
  width: 12px;
  height: 12px;
  fill: var(--primaryBrandColor);
  transition: fill 250ms var(--timingFunction), transform 250ms var(--timingFunction);
}
.read-icecream,
.read-icecoffee,
.read-milkshakes {
  background-color: var(--primaryTextLight);
  padding: 9.8px 14.5px;
  border-radius: 50%;

  transition: background-color 250ms var(--timingFunction), transform 250ms var(--timingFunction);

  &:hover,
  &:focus {
    background-color: var(--primaryBrandColor);
    transform: scale(1.1) rotate(360deg);
  }
  &:hover svg,
  &:focus svg {
    background-color: var(--primaryBrandColor);
    fill: var(--primaryTextLight);
    transform: scale(1.1) rotate(360deg);
  }
}
